# Visual Studio
.vs/
*.user
*.suo

# Build results
[Dd]ebug/
[Rr]elease/
[Bb]in/
[Oo]bj/

# User-specific files
*.rsuser
*.userosscache
*.sln.docstates

# ASP.NET Scaffolding
ScaffoldingReadMe.txt

# Entity Framework
*.jfm

# SQL Server
*.mdf
*.ldf

# SQLite
*.db
*.db-shm
*.db-wal